{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style type="text/css">
    background-image:url("https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?cs=srgb&dl=pexels-rahul-716398.jpg&fm=jpg");
  background-size: 999px;
      a:link {
        text-decoration: none;
      }

      .bg-c-blue {
        background: red;
      }
  
      .bg-c-green {
        background: black;
      }
  
      .bg-c-yellow {
        background: green;
      }
  
      .bg-c-pink {
        background: blue;
      }
  
  
      .card {

        box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
        border: 1px solid black;
        margin-bottom: 30px;
      }

    </style>
  </head>
<br><br>
 <h1 align="center"> Jobs listed below with deadlines mentioned. </h1> <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20"> <a href="admin-view-student" style="text-decoration: none;color:white;">SOFTWARE ENGINEER <br> <br>  Deadline- less than 3 days left! Register now. </a> </h6>
            <h2 class="text-right"><i class="fas fa-user-graduate f-left"></i><span>{{total_student}}</span></h2>
            
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h6 class="m-b-20"><a href="admin-view-teacher" style="text-decoration: none;color:white;">Data Analytics <br> <br> Deadline- Last date soon to be announced. </a> </h6>
            <h2 class="text-right"><i class="fas fa-chalkboard-teacher f-left"></i><span>{{total_student}}</span></h2>
            
          </div>
        </div>
      </div>

       <div class="col-md-4 col-xl-3">
        <div class="card bg-warning">
          <div class="card-block">
            <h6 class="m-b-20"><a href="admin-view-teacher" style="text-decoration: none;color:white;">UX/ UI Developer <br> <br>  Deadline- less than 14 days left! Register now.</a> </h6>
            <h2 class="text-right"><i class="fas fa-chalkboard-teacher f-left"></i><span>{{total_teacher}}</span></h2>

          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20"><a href="admin-view-course" style="text-decoration: none;color:white;">Test Engineer <br> <br>  Deadline- less than 21 days left! Register now.</a></h6>
           <h2 class="text-right"><i class="fas fa-book f-left"></i><span>{{total_course}}</span></h2>
            
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20"><a href="admin-view-question" style="text-decoration: none;color:white;">Business Analyst <br> <br>  Deadline- less than 30 days left! Register now.</a></h6>
            <h2 class="text-right"><i class="fas fa-question-circle f-left"></i><span>{{total_question}}</span></h2>


            
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-info">
          <div class="card-block">
            <h6 class="m-b-20"><a href="admin-view-question" style="text-decoration: none;color:white;">Product Operation <br> <br>   Register closed!!!</a></h6>
            <h2 class="text-right"><i class="fas fa-question-circle f-left"></i><span>{{total_question}}</span></h2>
        </div>
        </div>
      </div>
      
    </div>
  </div>


<br><br><br><br><br><br><br><br><br><br>




{% endblock content %}
