{%load static%}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
    <br><br><br><br><br>
<img src="https://global-uploads.webflow.com/61832088cc97eb577fc81c35/61832088cc97eb139cc8201d_61516ba9589fb6822bd4a7c9_thankyou__FillWzcwMCw0NDBd.jpeg"  style="width:1024px; height:500px; padding-left:400px;">
<h2> &nbsp;&nbsp; For more details contact us @Shubham Taneja</h2>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "quiz/footer.html" %}

  </body>
